<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>NodeGirls</title>
		<link rel="stylesheet" type="text/css" href="style.css">
		<link href="https://fonts.googleapis.com/css?family=Raleway:100,300,500,700,900" rel="stylesheet">
	</head>
	<body>
	  
    <header>
      <nav>
        <img src="/img/nodegirls.png" alt="Node Girls">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/sobre">Sobre</a></li>
          <li><a href="/eventos">Eventos</a></li>
        </ul>
      </nav>
    </header>
    
    <section>
      <div class="container">
        <h2>Próximos eventos</h2>
      
        <div class="eventos">
          <ul>
            <li><h4>Porto Alegre</h3></li>
            <li>Data: 18/08/18</li>
            <li>Horário: 13h</li>
            <li>Local: Ubra Gravataí</li>
          </ul>
          
          <ul>
            <li><h4>Florianópolis</h3></li>
            <li>Data: 18/08/18</li>
            <li>Horário: 13h</li>
            <li>Local: Ubra Gravataí</li>
          </ul>
          
          <ul>
            <li><h4>São Paulo</h3></li>
            <li>Data: 18/08/18</li>
            <li>Horário: 13h</li>
            <li>Local: Ubra Gravataí</li>
          </ul>
          
          <ul>
            <li><h4>Belo Horizonte</h3></li>
            <li>Data: 18/08/18</li>
            <li>Horário: 13h</li>
            <li>Local: Ubra Gravataí</li>
          </ul>
        </div>
      </div>
    </section>
    
    <footer>
      <ul>
        <li><strong>Node Girls</strong></li>
        <li>(90) 1234-5678</li>
        <li>contato@nodegirls.com</li>
      </ul>
    </footer>

		<script type="text/javascript" src="script.js"></script>
	</body>
</html>