<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>NodeGirls</title>
		<link rel="stylesheet" type="text/css" href="style.css">
		<link href="https://fonts.googleapis.com/css?family=Raleway:100,300,500,700,900" rel="stylesheet">
	</head>
	<body>
	  
    <header>
      <nav>
        <img src="/img/nodegirls.png" alt="Node Girls">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/sobre">Sobre</a></li>
          <li><a href="/eventos">Eventos</a></li>
        </ul>
      </nav>
    </header>
    
    <section>
      <div class="container">
        <h2>Sobre as <span>Node</span>Girls</h2>
      
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris semper turpis sit amet leo hendrerit, porttitor ultrices dui iaculis. Curabitur ut nisi vel lorem fermentum maximus ut et nisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent pellentesque lacus sit amet nulla tincidunt laoreet. Sed dapibus ligula id tortor ullamcorper vestibulum. Proin sollicitudin, nunc eu faucibus pulvinar, lacus ligula viverra dui, efficitur varius elit eros vel justo. Maecenas euismod ultricies ultrices. Nullam massa mi, bibendum ut mattis nec, pharetra porttitor ex. Aliquam eget lacus et nunc auctor feugiat.</p>
        <p>Etiam volutpat ut enim a varius. Aliquam sit amet gravida diam, eu auctor justo. Curabitur auctor tincidunt turpis, eget rutrum justo ornare posuere. Sed eu facilisis ligula, id tempor elit. Nullam lacus dolor, posuere eu maximus at, commodo ac erat. Etiam lorem nisl, rhoncus eget urna eu, dignissim rutrum nisi. Sed ut justo mollis, interdum lorem at, sodales elit. Aliquam tincidunt nibh eget dui finibus hendrerit. Quisque viverra convallis nunc nec pellentesque. Morbi varius ut sapien ut luctus. Nulla sollicitudin, velit quis mattis pulvinar, enim felis ornare nisi, sit amet dictum felis tellus at purus. Integer ut viverra nulla. Ut viverra risus et est pretium tristique.</p>
      
      <a href="eventos.html">Participar do próximo evento</a>
      </div>
    </section>
    
    <footer>
      <ul>
        <li><strong>Node Girls</strong></li>
        <li>(90) 1234-5678</li>
        <li>contato@nodegirls.com</li>
      </ul>
    </footer>

		<script type="text/javascript" src="script.js"></script>
	</body>
</html>